# Node.js
node_modules/
dist/
.env
npm-debug.log

# Java/Maven/Gradle
*.iml
*.class
target/
out/
.gradle/
build/

# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp

# Other
*.bak
*.tmp